body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 80%;
    margin: 20px auto;
  }

  .game {
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(255, 0, 0);
  }

  button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
  }